<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE>What's the average height?</TITLE>
        <LINK href="../static/main.css" rel="stylesheet">
    </HEAD>
    <BODY>
        <CENTER>
        <DIV class="box">
            <H1>thank you!</H1>
            <P class="subtitle">
                Thank you for your submission. <br>
                You'll receive a confirmation<BR>e-mail.
            </P>
            <SPAN style="font-size: 5em; color: yellow;">:)</SPAN><BR><BR>
            <A HREF="{{url_for('index')}}"><BUTTON>BACK</BUTTON></A>
        </DIV>
        </CENTER>
        <MAIN>
        </MAIN>
    </BODY>
</HTML>
